---
import Service from "@components/Service.astro";
import Testimonials from "@components/Testimonials.astro";
import { profile } from '../config';

const services = profile.services;
---

<article id="about" class="about active" data-page="about" aria-labelledby="about-title">
  <header>
    <h2 id="about-title" class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    {profile.bio.map((text) => (
      <p>{text}</p>
    ))}
  </section>

  <section class="service">
    <h3 class="h3 service-title">What i'm doing</h3>
    <ul class="service-list">
      {services.map((service) => <Service {...service} />)}
    </ul>
  </section>

  <Testimonials />
</article>
