---
const navItems = [
  { title: "About", active: true },
  { title: "Resume", active: false },
  // { title: "Portfolio", active: false },
  // { title: "Blog", active: false },
  { title: "Contact", active: false },
];
---

<nav class="navbar">
  <ul class="navbar-list">
    {
      navItems.map((item) => (
        <li class="navbar-item">
          <button
            class={`navbar-link ${item.active ? "active" : ""}`}
            data-nav-link
          >
            {item.title}
          </button>
        </li>
      ))
    }
  </ul>
</nav>

<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    // page navigation variables
    const navigationLinks = document.querySelectorAll("[data-nav-link]");
    const pages = document.querySelectorAll("[data-page]");

    console.log(pages)

    // console.log("Nav Links: ", navigationLinks);
    // console.log("Pages: ", pages);

    if (navigationLinks.length === 0 || pages.length === 0) {
      console.error("No navigation items or pages were found.");
      return;
    }

    navigationLinks.forEach((link, _) => {
      link.addEventListener("click", function () {
        pages.forEach((page, pageIndex) => {
          console.log(`${page.dataset.page} === ${this.innerHTML.toLowerCase()}`);
          if (this.innerHTML.trim().toLowerCase() === page.dataset.page) {
            if (!page.classList.contains("active")) {
              page.classList.add("active");
              navigationLinks[pageIndex].classList.add("active");
              window.scrollTo(0, 0);
            }
          } else {
            if (page.classList.contains("active")) {
              page.classList.remove("active");
              navigationLinks[pageIndex].classList.remove("active");
            }
          }
        });
      });
    });
  });
</script>