---
import TimelineSection from '@components/TimelineSection.astro';
import ExperienceSection from '@components/ExperienceSection.astro';
import SkillsSection from '@components/SkillsSection.astro';
import CertificationsSection from '@components/CertificationsSection.astro';
import { profile } from '../config';

const education = profile.education
const experience = profile.experience
const skills = profile.skills
const certifications = profile.certifications
---
<article id="resume" class="resume" data-page="resume" aria-labelledby="resume-title">
  <header>
    <h2 id="resume-title" class="h2 article-title">Resume</h2>
  </header>

  <TimelineSection title="Education" icon="book-outline" items={education} />
  <ExperienceSection items={experience} />
  <SkillsSection skills={skills} />
  <CertificationsSection certifications={certifications} />
</article>
